
DROP TABLE IF EXISTS `barang`;

CREATE TABLE `barang` (
  `id_barang` int(11) NOT NULL AUTO_INCREMENT,
  `nama_barang` varchar(100) DEFAULT NULL,
  `harga` int(11) DEFAULT NULL,
  `stok` int(11) DEFAULT NULL,
  `stok_awal` int(11) NOT NULL DEFAULT 0,
  `temporary_stok` int(11) DEFAULT 0,
  `gambar` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_barang`)
) ENGINE=InnoDB AUTO_INCREMENT=77 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;



LOCK TABLES `barang` WRITE;
INSERT INTO `barang` VALUES (42,'Flashdisk 64GB (Metal)',10000,11,10,0,'69e1d1f8c36e9.jpg'),(47,'Binder Note B5 (Kulit)',10000,16,15,0,'69e1d1db32ca9.jpg'),(48,'ID Card Holder + Tali',10000,11,10,0,'69e1d24065771.jpg'),(51,'Amplop Coklat Folio (Isi 100)',10000,7,5,0,'69e1d1c3b519d.jpg'),(55,'Lakban Bening 2 Inch',10000,15,14,0,'69e1d21cc8ee6.jpg'),(56,'Cutter Kenko L-500',10000,10,11,0,'69e1d1eec9191.jpg'),(57,'Isi Cutter Besar (L-150)',10000,10,11,0,'69e1d212b98ef.jpg'),(59,'Bantalan Stempel (Flash)',10000,10,9,0,'69e1d1d139ff3.jpg');
UNLOCK TABLES;

DROP TABLE IF EXISTS `pembelian`;
CREATE TABLE `pembelian` (
  `id_pembelian` int(11) NOT NULL AUTO_INCREMENT,
  `nama_barang` varchar(255) DEFAULT NULL,
  `jumlah_beli` int(11) DEFAULT NULL,
  `tanggal_beli` datetime DEFAULT NULL,
  PRIMARY KEY (`id_pembelian`)
) ENGINE=InnoDB AUTO_INCREMENT=43 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

LOCK TABLES `pembelian` WRITE;
UNLOCK TABLES;

DROP TABLE IF EXISTS `pengembalian`;

CREATE TABLE `pengembalian` (
  `id_return` int(11) NOT NULL AUTO_INCREMENT,
  `id_transaksi` int(11) DEFAULT NULL,
  `nama_barang` varchar(255) DEFAULT NULL,
  `jumlah_return` int(11) DEFAULT NULL,
  `alasan` text DEFAULT NULL,
  `tanggal_return` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_return`)
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;


LOCK TABLES `pengembalian` WRITE;
UNLOCK TABLES;


DROP TABLE IF EXISTS `stok_barang`;
CREATE TABLE `stok_barang` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_barang` varchar(255) DEFAULT NULL,
  `harga` int(11) DEFAULT NULL,
  `stok_awal` int(11) DEFAULT 0,
  `tambah` int(11) DEFAULT 0,
  `terjual` int(11) DEFAULT 0,
  `direturn` int(11) DEFAULT 0,
  `stok_akhir` int(11) DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

LOCK TABLES `stok_barang` WRITE;
UNLOCK TABLES;

DROP TABLE IF EXISTS `stok_log`;
CREATE TABLE `stok_log` (
  `id_log` int(11) NOT NULL AUTO_INCREMENT,
  `id_barang` int(11) DEFAULT NULL,
  `tanggal` datetime DEFAULT NULL,
  `keterangan` varchar(255) DEFAULT NULL,
  `stok_masuk` int(11) DEFAULT 0,
  `stok_keluar` int(11) DEFAULT 0,
  `stok_akhir` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_log`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;


LOCK TABLES `stok_log` WRITE;
UNLOCK TABLES;


DROP TABLE IF EXISTS `stok_penyesuaian`;
CREATE TABLE `stok_penyesuaian` (
  `id_penyesuaian` int(11) NOT NULL AUTO_INCREMENT,
  `nama_barang` varchar(100) NOT NULL,
  `jumlah` int(11) NOT NULL,
  `keterangan` varchar(255) DEFAULT 'Penyesuaian Stok Manual',
  `tanggal` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_penyesuaian`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
LOCK TABLES `stok_penyesuaian` WRITE;
UNLOCK TABLES;


DROP TABLE IF EXISTS `transaksi`;
CREATE TABLE `transaksi` (
  `id_transaksi` int(11) NOT NULL AUTO_INCREMENT,
  `tanggal` datetime DEFAULT current_timestamp(),
  `nama_barang` varchar(100) DEFAULT NULL,
  `jumlah` int(11) DEFAULT NULL,
  `harga_satuan` int(11) DEFAULT NULL,
  `total_harga` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_transaksi`)
) ENGINE=InnoDB AUTO_INCREMENT=99 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;


LOCK TABLES `transaksi` WRITE;
UNLOCK TABLES;

--
DROP TABLE IF EXISTS `users`;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('superadmin','kasir') NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

LOCK TABLES `users` WRITE;
INSERT INTO `users` VALUES (1,'admin','admin123','superadmin'),(2,'kasir','kasir123','kasir');
UNLOCK TABLES;
